body, html {
  height: 100%;
  margin: 0;
  font: 400 1.5rem/1.8 "Lato", sans-serif;
  color: #777;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  color: black;
}

h5 {
  margin: 0;
  color: black;
}

.projectBoxInactive {
  box-sizing: content-box;
  width: 30rem;
  height: 12rem;
  border: .3rem solid grey;
  padding: 1.5rem;
  background-color: white;
}

.projectBoxActive {
  box-sizing: content-box;
  width: 30rem;
  height: 12rem;
  border: .3rem solid white;
  padding: 1.5rem;
  background-color: black;
  /* color: white; */
}


.header {
  font-family: Allura, cursive;
  /* font-size: 8rem; */
  /* font-weight: bold; */
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  /* opacity: 0.80; */
  /* opacity: 0.65; */
  opacity: 1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bgimg-1A {
  background-image: url("./images/abstract1.jpg");
  opacity: 0.6;
  /* height: 90rem; */
  /* min-height: 100%; */
  height: 100vh;
  /* max-width: 100wh; */
}

.bgimg-1B {
  background-image: url("./images/fossil.jpg");
  /* height: 90rem; */
  /* min-height: 100%; */
  height: 10.5vh;
  /* max-width: 100wh; */
}

.bgimg-1 {
  background-image: url("./images/map.jpg");
  /* height: 90rem; */
  /* min-height: 100%; */
  /* height: 89.5vh; */
  height: 100vh;
  /* max-width: 100wh; */
}

.bgimg-2 {
  background-image: url("./images/dna1.jpg");
  height: 40rem;
}

.bgimg-3 {
  background-image: url("./images/dish.jpg");
  min-height: 40rem;
}

.caption {
  position: absolute;
  left: 0;
  top: 45%;
  width: 100%;
  text-align: center;
  color: #000;
}

.captionTwo {
  position: absolute;
  left: 0;
  top: 45%;
  width: 100%;
  text-align: center;
  color: transparent;
}

.captionThree {
  position: absolute;
  left: 0;
  top: 60%;
  width: 100%;
  text-align: center;
  color: transparent;
}

.captionArrow {
  position: absolute;
  left: 0;
  top: 95%;
  width: 100%;
  text-align: center;
  color: transparent;
}

.captionButtons {
  position: absolute;
  left: 0;
  top: 80%;
  width: 100%;
  text-align: center;
  color: transparent;
}

.captionThree span.borderTwo {
  background-color: transparent;
  color: #fff;
  padding: 1.8rem;
  font-size: 2.5rem;
  letter-spacing: 1rem;
}
.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 1.8rem;
  font-size: 2.5rem;
  letter-spacing: 1rem;
}

.captionTwo span.borderTwo {
  background-color: transparent;
  color: #fff;
  padding: 1.8rem;
  font-size: 2.5rem;
  letter-spacing: 1rem;
}

.caption span.borderTwo {
  background-color: #111;
  color: #fff;
  padding: 1rem 4rem 1rem 4rem;
  font-size: 2.5rem;
  letter-spacing: 1rem;
}

.portfolioPadding {
  padding: 1rem 0 1rem 0;
}

.downloadButton {
  /* color: #fff; */
  letter-spacing: .1rem;
  font-size: 2rem;
  /* padding: 0 0 0 2rem;   */
  color: black
}

.portfolioButton {
  /* color: #fff; */
  letter-spacing: .1rem;
  font-size: 1.5rem;
  padding: 0;  
  color: white;
  border-color: white;
  margin: 0;
  width: 9rem;
}
.sectionHeader {
  color: #fff;
  letter-spacing: 1rem;
  font-size: 2.5rem;
  padding: 0 0 0 2rem;  
}

.headerTwo {
  letter-spacing: .1rem;
  text-transform: uppercase;
  font: 1.3rem "Lato", sans-serif;
  font-weight: bold;
  color: black;
  padding-bottom: 0;
}

.postPadding {
  padding-bottom: 1.5rem;
}

.list {
  padding: 0 0 0 2rem;
  margin-top: 0;
  color: rgb(61, 61, 61);
}

.jobCompany {
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
  padding-top: 0;
}

.jobLocation {
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(61, 61, 61);
  padding-top: .5rem;
}

.bar {
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(61, 61, 61);
}


.jobDescription {
  /* font-weight: bold; */
  color: rgb(61, 61, 61);
}

.aboutText {
  /* letter-spacing: .1rem; */
  /* text-transform: uppercase; */
  /* font: 2rem "Lato", sans-serif; */
  font: 400 2rem/1.8 "Lato", sans-serif;
  /* font-weight: bold; */
  color: black;
}

.resHeader {
  letter-spacing: .1rem;
  /* text-transform: uppercase; */
  font: 2.5rem "Lato", sans-serif;
  color: rgb(61, 61, 61);
}

.resume {
  text-align: left;
  padding: 2rem;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

/* Gallery Grid */
* {
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 .4rem;
}

.column {
  float: left;
  width: 50%;
  padding: 1rem;
  /* flex: 50%;
  padding: 0 .4rem; */
}

.column img {
  margin-top: 1.2rem;
  /* vertical-align: middle; */
  /* width: 40rem; */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.about {
  /* text-align: left; */
  padding: 4rem 2rem 0 2rem;
  margin-top: 3rem;
  font-size: 1.2rem;
}

.about-line {
  margin: 0 1rem 1rem 0;
  font-size: 2rem;
}

.about-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  height: 100%;
  padding-top: 4rem;
}

.about-image-container {
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
}

@media (max-width: 550px) {
  .about-container {
    padding: auto 0;
    margin: auto 0;
  }
}

.about-image {
  height: 60rem;
}

.about-description {
  max-width: 80rem;
  margin-left: 4rem;
}
@media (max-width: 550px) {
  .about-description {
    margin: 0 3rem;
  }
}
.gis-image {
  max-width: 60rem;
  margin: 0 auto;  
}

.gis-container {
  display: flex;
  justify-content: left;  
  /* padding-left: 3rem;
  text-align: center; */
}


/* CSS for autotype */

/* @-webkit-keyframes typing { from { width: 0; } } */
/* @-webkit-keyframes blink-caret { 50% { border-color: transparent; } } */

/* .autotext {  */
    /* font: bold 300% Consolas, Monaco, monospace; */
    /* color: 'white'; */
    /* border-right: .1em solid white; */
    /* width: 16.5em;  */
    /* width: 21ch; */
    /* margin: 2em 1em; */
    /* white-space: nowrap; */
    /* overflow: hidden; */
    /* -webkit-animation: typing 2s steps(21, end), blink-caret .5s step-end infinite alternate; */
    /* -webkit-backface-visibility: hidden; */
    /* -webkit-transform: scale(1); */
/* } */

/* DOWN ARROW */



/* Scroll Bar */

/* body::-webkit-scrollbar {
  width: 0.7rem;
  background: transparent;
 }
 body::-webkit-scrollbar-thumb {
  background: grey;
  height:3rem;
 }
 
 body::-webkit-scrollbar-track-piece
 {
   display:none;
 } */